!
! pmacctd configuration example
!
! Did you know CONFIG-KEYS contains the detailed list of all configuration keys
! supported by 'nfacctd' and 'pmacctd' ?
!
nfacctd_port: $NETFLOW_PORT
pidfile: /var/log/nfacctd.pid

nfacctd_disable_checks: true
nfacctd_pro_rating: true
nfacctd_renormalize: true
sampling_map: /data/sampling.map

plugins: mysql
pmacctd_pipe_size: 1024000000
plugin_buffer_size: 1024000

! Agregation for more detailed information
aggregate: peer_src_ip, src_net, dst_net,src_mask, dst_mask,sampling_rate
!
syslog: daemon
!
sql_optimize_clauses: true
sql_cache_entries: 513573 
sql_refresh_time: 600
sql_history: 10m
sql_history_roundoff: m
sql_table_version: 1
sql_db: pmacct
sql_host: localhost
sql_user: root
sql_passwd: juniper123
sql_table: tm_%Y%m%d_%H%M
sql_table_schema: /data/netflow-aggregated-table.schema 
!
debug: false

