!
! pmacctd configuration example
!
! Did you know CONFIG-KEYS contains the detailed list of all configuration keys
! supported by 'nfacctd' and 'pmacctd' ?
!
nfacctd_port: $NETFLOW_PORT
pidfile: /var/log/nfacctd.pid
daemonize: false 

plugins: kafka
!
! Agregation for more detailed information
!aggregate: src_host,dst_host,src_port,dst_port,timestamp_start,timestamp_end, peer_src_ip, peer_dst_ip, in_iface, out_iface, proto, tos, src_as, dst_as, tcpflags
aggregate: src_host,dst_host,peer_src_ip
nfacctd_disable_checks: true
pmacctd_pipe_size: 1024000000
plugin_buffer_size: 1024000
kafka_output: json
kafka_partition:  0
kafka_broker_host: $KAFKA_ADDR
kafka_broker_port: $KAFKA_PORT
kafka_topic: $KAFKA_PRODUCER_TOPIC
kafka_refresh_time: 20
kafka_history: 5m
kafka_history_roundoff: m
kafka_cache_entries: 5000
kafka_multi_values: 10



